

 <div class="org-header">
   <h1>{{results.organization.name}}</h1>
 </div>

<div class="org-body">

  <div class="org-img">
        
        {{#if hasImage}}
        <img class="img-fluid" src="{{results.organization.photos.0.full}}" alt="noPhotoYet"/>
        {{else}} <img height="300px" width="300px" src="https://i.ibb.co/yk71Pdg/backup.png" alt="noPhotoYet"/>
        {{/if}}
        
    </div>
    

          
    
    <div class="org-statement">
    <h3>{{results.organization.mission_statement}}</h3>
    </div>
    <br>
    <div class="org-contacts">
       
        <h3>Contacts:</h3>
        <p>Email: {{results.organization.email}}</p>
        <p>Phone: {{results.organization.phone}}</p>
        <p>Address: {{results.organization.address.city}}, {{results.organization.address.state}}, {{results.organization.address.postcode}}</p>
       </div>


       <div class="org-bttns">
        <form action="{{results.organization.url}}">
          <button class="edit-market lgn-bttn" type="submit">More Info</button>
        </form>
        <form action="mailto: {{results.organization.email}}">
          <button class="edit-market lgn-bttn">Volunteer</button>
        </form>
        </div>


    

    
    
</div>
