





    <div class="pet-profile">
<h1>Meet {{results.name}}!</h1>
 <div>

<div class="profile-pet-bd">

    <div class="pet-photos">
        
        
        {{#if results.photos}}
        {{#each results.photos}}
        <img class="img-fluid" src="{{full}}" alt="noPhotoYet"/>   
        {{/each}}
        {{else }} <img height="300px" width="300px" src="https://i.ibb.co/yk71Pdg/backup.png" alt="noPhotoYet"/>
        {{/if}}
        
    </div>
    
    <div>
        {{!-- <h4>{{results.description}}</h4> --}}
        
        
        <h3>Details:</h3>
        <p>Age:{{results.age}}</p>
        <p>Gender:{{results.gender}}</p>
        <p>Size:{{results.size}}</p>
        <h4>Attributes</h4>
           <p>Spayed/Neutered:{{#if results.attributes.spayed_neutered }} Yes {{else}} No {{/if}}</p> 
           <p>House trained:{{#if results.attributes.house_trained }} Yes {{else}} No {{/if}}<p> 
           <p>Special needs:{{#if results.attributes.special_needs }} Yes {{else}} No {{/if}}<p> 
           <p>Shots current:{{#if results.attributes.shots_current }} Yes {{else}} No {{/if}}<p> 
        

    

    </div>

      <div>
    
        <div>Status: {{results.status}} <br> Added on:{{postedOn}} <br> Latest update:{{results.status_changed_at}}</div>
        
        <p>Contact info:</p>
        

        <form action="{{results.url}}">
            <button class="edit-market">Apply for adoption</button>
        </form>
        <br>
        <form action="/search/organizations/{{results.organization_id}}" method="post">
           <button class="edit-market">Organization profile</button>
           </form>
           <br>
        <div>{{results.contact.address.city}}, {{results.contact.address.state}}, {{results.contact.address.postcode}}</div>
        <div>{{results.contact.phone}}
            <br>Email:{{results.contact.email}}</div>
        
      </div>
</div>
