{{!-- <h1>Edit Listing</h1>
<div>
    <img src="{{foundItem.image}}" alt="itemImage" width="300px" height="300px">
    <br>
    <form action="/marketplace/{{foundItem._id}}/edit-item" method="post">
    <div>
        <label for="name">New name:</label>
            <input type="text" name="name" id="name" value="{{foundItem.name}}">
        </div>
        <br>
        <div>
        <label for="image">Enter URL for new image:</label>
          <input type="text" name="image" id="image" value="{{foundItem.image}}"></input>
        </div>
        <br>
        <div>
        <label for="description">New description:</label>
          <input type="text" name="description" id="description" value="{{foundItem.description}}"></input>
        </div>
        <br>
        <div>
        <label for="price">New price:</label>
          <input type="number" name="price" id="price" value="{{foundItem.price}}"></input>
        </div>
        <br>
         
        <button type="submit">Edit</button>
    </form>
</div>
 --}}


<div class="add-item-head">
<h1>Edit your listing</h1>
</div>


<div class="add-item">
    <form action="/marketplace/{{foundItem._id}}/edit-item" method="post">
  <div class="form-group">
    <label for="name">Item name:</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter item name here..">
  </div>
  <div class="form-group">
    <label for="image">Enter image URL:</label>
    <input type="text" class="form-control" id="image" name="image" placeholder="Image URL goes here..">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Descrive what you are selling..">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" class="form-control" id="price" name="price" placeholder="Numbers only..">
  </div>
  <button class="edit-market" type="submit">Submit</button>
</form>
    
</div>